{% extends "base.html" %}
{% block content %}
  <p class="section__description">This is {{ product_id }} product file</p>
  <a type="button" href="{{ url_for('product', product_id=product_id) }}" class="btn btn-warning">Opinions</a>
  <div class="container"> 
    <div class="row">
      <div class="col-6">
        <img src="{{ url_for('static', filename='charts/' + product_id + '_score.png') }}" class="img-fluid" alt="Histogram of rates">
      </div>
      <div class="col-6">
        <img src="{{ url_for('static', filename='charts/' + product_id + '_recommendation.png') }}" class="img-fluid" alt="Shares of recommendations">
      </div>
    </div>
  </div>
{% endblock %}
