{% extends "base.html" %}
{% block content %}
    <p>This is {{product_id}} product file</p>
    <div class="btn-group">
        <a href="{{url_for('download_json', product_id=product_id)}}" class="btn btn-outline-dark">JSON</a>
        <a href="{{url_for('download_csv', product_id=product_id)}}" class="btn btn-outline-dark">CSV</a>
        <a href="{{url_for('download_xlsx', product_id=product_id)}}" class="btn btn-outline-dark">XLSX</a>
    </div>
    <a type="button" class="btn btn-outline-dark" href="{{url_for('charts', product_id=product_id)}}">Charts</a>
    {{opinions|safe}}
{% endblock %}
{% block scripts %}
<script>
    let table = new DataTable('#opinions', {
    responsive: true
});
</script>
{% endblock %}